.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: none !important;
}

.form-field {
  width: 100%;
}

.loan-application {
  margin-bottom: 20px;
}

.loan-section {
  justify-content: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 100%;
}
