<h1 mat-dialog-title>Confirmar empréstimo</h1>
<div mat-dialog-content>


  <p>Olá, {{dialogData?.clientName}}</p>


  Confirme seu empréstimo:
  <ul>
    <li>
      {{ 'Valor das parcelas: ' + loanApplicationServiceData.parcelValues }}
      <span>&#10003;</span>
    </li>
    <li>
      {{ 'Nº de parcelas: ' + loanApplicationServiceData.parcelNumber }}
      <span>&#10003;</span>
    </li>
    <li>
      {{ 'Valor total com juros: ' + loanApplicationServiceData.total }}
      <span>&#10003;</span>
    </li>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="confirm()" mat-dialog-close>Confirmar</button>
      <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Cancelar</button>
    </div>
  </ul>
</div>
