/* You can add global styles to this file, and also import other style files */
html{
	font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-error {
  align-items: flex-start;
  display: flex !important;
}


.mat-form-field-subscript-wrapper {
  display: none;
}

.grid {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px;
  counter-reset: div;
}

.grid div {
  text-align: center;
}

.col-2 {
  grid-column: auto/span 2;
}

.col-8 {
  grid-column: auto/span 8;
}

.col-12 {
  grid-column: auto/span 12;
}

